* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 80%;
    margin: 20px;
}

.character {
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

#goku {
    background-color: #b35a5a;
}

#gohan {
    background-color: #90cfee;
}

#piccolo {
    background-color: #5a7369;
}

#vegeta {
    background-color: #4a525a;
}

#krillin {
    background-color: #e78d73;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    margin-bottom: 10px;
    font-size: 14px;
}

strong {
    font-size: 18px;
}
